=half
  left: 50%
  width: $blueprint-container-size
  margin-left: $blueprint-container-size / -2
  
#container
  +container
  
header
  h1
    +inline-block
    +prepend(1)
    +span(11)
  
  h3
    +inline-block
    +span(11)
    text-align: right

#main
  +prepend-top(2em)
  +append-bottom(1em)
  
.target
  +prepend(1)
  +column(14)
  
.arrivals
  +prepend(1)
  +column(8, true)

footer
  +half

+sticky-footer(1.5em, '#container', '.push', 'footer')
