[submodule "public/javascripts/jQuery-File-Upload"]
	path = public/javascripts/jQuery-File-Upload
	url = https://github.com/blueimp/jQuery-File-Upload.git
[submodule "public/javascripts/underscore"]
	path = public/javascripts/underscore
	url = https://github.com/documentcloud/underscore.git
[submodule "public/javascripts/backbone"]
	path = public/javascripts/backbone
	url = https://github.com/documentcloud/backbone.git
[submodule "public/javascripts/JSON-js"]
	path = public/javascripts/JSON-js
	url = https://github.com/douglascrockford/JSON-js.git
[submodule "public/javascripts/Modernizr"]
	path = public/javascripts/Modernizr
	url = https://github.com/Modernizr/Modernizr.git
