%script{ :src => '/javascripts/jquery/jquery.min.js' }

/[if lt IE 7 ]
  :javascript
    //DD_belatedPNG.fix('img, .png_bg');
    
%script{ :src => '/javascripts/JSON-js/json2.js' }
%script{ :src => '/javascripts/underscore/underscore-min.js' }
%script{ :src => '/javascripts/backbone/backbone-min.js' }
%script{ :src => '/javascripts/jquery/jquery-ui-1.8.9.custom.min.js' }
%script{ :src => '/javascripts/jQuery-File-Upload/jquery.fileupload.js' }
%script{ :src => '/javascripts/jQuery-File-Upload/jquery.fileupload-ui.js' }
%script{ :src => '/faye.js' }
%script{ :src => '/javascripts/application.js' }
