%link{ :rel => 'stylesheet', :href => '/stylesheets/jumbo.css' }
%link{ :rel => 'stylesheet', :href => '/css/jquery-ui-1.8.9.custom.css' }
%link{ :rel => 'stylesheet', :href => '/css/jquery.fileupload-ui.css' }
